## GROUP BY

In [11]:
import pandas as pd
df=pd.read_csv("weather_data_10.csv")
df

           Day               City  Temperature  Windspeed         Event
0   08-04-2025  South Stephenbury           22       10.7         Sunny
1   09-04-2025  South Stephenbury           -1       15.0          Snow
2   10-04-2025  South Stephenbury            2       11.5         Sunny
3   11-04-2025  South Stephenbury           26       10.4          Snow
4   12-04-2025  South Stephenbury           19       18.8         Sunny
5   13-04-2025  South Stephenbury           -4       12.6         Sunny
6   14-04-2025  South Stephenbury           18       18.9          Rain
7   15-04-2025  South Stephenbury           30       14.6  Thunderstorm
8   16-04-2025  South Stephenbury           -4        8.5           Fog
9   17-04-2025  South Stephenbury            8       17.0           Fog
10  18-04-2025          Brownberg           -2       24.7          Rain
11  19-04-2025        East Sharon           16       21.5         Sunny
12  20-04-2025         East Mario           32        7.9        Cloudy
13  21-04-2025         East Mario           11       12.5          Snow
14  22-04-2025         North Kyle           37        6.7          Rain
15  23-04-2025    New Jessicaberg            2       20.3          Snow
16  24-04-2025    New Jessicaberg           31        8.9          Snow
17  25-04-2025      Lake Michelle            5        9.1           Fog
18  26-04-2025     New Wandahaven            1       18.2           Fog
19  27-04-2025       Franklinbury           17       22.0          Snow

In [ ]:
g=df.groupby("City")
g

In [13]:
for City,City_df in g:
    print(City)
    print(City_df)

Brownberg
           Day       City  Temperature  Windspeed Event
10  18-04-2025  Brownberg           -2       24.7  Rain
East Mario
           Day        City  Temperature  Windspeed   Event
12  20-04-2025  East Mario           32        7.9  Cloudy
13  21-04-2025  East Mario           11       12.5    Snow
East Sharon
           Day         City  Temperature  Windspeed  Event
11  19-04-2025  East Sharon           16       21.5  Sunny
Franklinbury
           Day          City  Temperature  Windspeed Event
19  27-04-2025  Franklinbury           17       22.0  Snow
Lake Michelle
           Day           City  Temperature  Windspeed Event
17  25-04-2025  Lake Michelle            5        9.1   Fog
New Jessicaberg
           Day             City  Temperature  Windspeed Event
15  23-04-2025  New Jessicaberg            2       20.3  Snow
16  24-04-2025  New Jessicaberg           31        8.9  Snow
New Wandahaven
           Day            City  Temperature  Windspeed Event
18  26-04-2025  New Wandahaven            1       18.2   Fog
North Kyle
           Day        City  Temperature  Windspeed Event
14  22-04-2025  North Kyle           37        6.7  Rain
South Stephenbury
          Day               City  Temperature  Windspeed         Event
0  08-04-2025  South Stephenbury           22       10.7         Sunny
1  09-04-2025  South Stephenbury           -1       15.0          Snow
2  10-04-2025  South Stephenbury            2       11.5         Sunny
3  11-04-2025  South Stephenbury           26       10.4          Snow
4  12-04-2025  South Stephenbury           19       18.8         Sunny
5  13-04-2025  South Stephenbury           -4       12.6         Sunny
6  14-04-2025  South Stephenbury           18       18.9          Rain
7  15-04-2025  South Stephenbury           30       14.6  Thunderstorm
8  16-04-2025  South Stephenbury           -4        8.5           Fog
9  17-04-2025  South Stephenbury            8       17.0           Fog

In [15]:
g.get_group("South Stephenbury")

          Day               City  Temperature  Windspeed         Event
0  08-04-2025  South Stephenbury           22       10.7         Sunny
1  09-04-2025  South Stephenbury           -1       15.0          Snow
2  10-04-2025  South Stephenbury            2       11.5         Sunny
3  11-04-2025  South Stephenbury           26       10.4          Snow
4  12-04-2025  South Stephenbury           19       18.8         Sunny
5  13-04-2025  South Stephenbury           -4       12.6         Sunny
6  14-04-2025  South Stephenbury           18       18.9          Rain
7  15-04-2025  South Stephenbury           30       14.6  Thunderstorm
8  16-04-2025  South Stephenbury           -4        8.5           Fog
9  17-04-2025  South Stephenbury            8       17.0           Fog

In [19]:
g.max()

                     Day               City  Temperature  Windspeed
Event
Cloudy        20-04-2025         East Mario           32        7.9
Fog           26-04-2025  South Stephenbury            8       18.2
Rain          22-04-2025  South Stephenbury           37       24.7
Snow          27-04-2025  South Stephenbury           31       22.0
Sunny         19-04-2025  South Stephenbury           22       21.5
Thunderstorm  15-04-2025  South Stephenbury           30       14.6

In [23]:
g.describe()

             Temperature                                                  \
                   count       mean        std   min    25%   50%    75%
Event
Cloudy               1.0  32.000000        NaN  32.0  32.00  32.0  32.00
Fog                  4.0   2.500000   5.196152  -4.0  -0.25   3.0   5.75
Rain                 3.0  17.666667  19.502137  -2.0   8.00  18.0  27.50
Snow                 6.0  14.333333  12.801042  -1.0   4.25  14.0  23.75
Sunny                5.0  11.000000  11.357817  -4.0   2.00  16.0  19.00
Thunderstorm         1.0  30.000000        NaN  30.0  30.00  30.0  30.00

                   Windspeed                                            \
               max     count       mean       std   min     25%    50%
Event
Cloudy        32.0       1.0   7.900000       NaN   7.9   7.900   7.90
Fog            8.0       4.0  13.200000  5.110121   8.5   8.950  13.05
Rain          37.0       3.0  16.766667  9.187673   6.7  12.800  18.90
Snow          31.0       6.0  14.850000  5.321184   8.9  10.925  13.75
Sunny         22.0       5.0  15.020000  4.826697  10.7  11.500  12.60
Thunderstorm  30.0       1.0  14.600000       NaN  14.6  14.600  14.60


                 75%   max
Event
Cloudy         7.900   7.9
Fog           17.300  18.2
Rain          21.800  24.7
Snow          18.975  22.0
Sunny         18.800  21.5
Thunderstorm  14.600  14.6